body {
    color: white;
    background: #5b5859;
    margin: 0px;
}   

header {
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
    color: white;
}

section {
    background: rgb(56,54,51);
}